@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Francois+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Carter One', cursive;
    font-size: 14px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #FFC294;
    color: #6A2E00;
}

.font-2 {
    font-family: 'Francois One', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: #FFC294;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6A2E00; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #492102; 
}